<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ebisu</title>
    <link rel="icon" href="..\static\images\NicePng_toro-logo-png_1774474.png">
    <link rel="stylesheet" href="..\static\css\estilo_aboutpro.css">
</head>
<!-- Seccion navbar -->
<body>
    <div id="pagina">
    <div class="dropdown">
        <nav>
            <img class="toro" src="..\static\images\NicePng_toro-logo-png_1774474.png"></li>
            <a href="index.html" class="titulo">Ebisu</a>
            <ul>
                
                <li><a href="#">About</a>
                     <ul>
                        <li><a href="about us.html">About us</a></li>
                        <li><a href="about pro.html">About the project</a></li>
                        <li><a href="contactus.html">Contact us</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="contenido">    
    
  <div >
    <h1>Proyecto de pregrado</h1>
    <hr>
    <h2>Director</h2>
    <p id="director">Gustavo Adolf Lanza Bayona</p>
    <h2 id="ti">Estudiantes</h2>
    <pre class="a">
    <p class="estudiante">Oscar David Perilla Dominguez                  Carlos Eduardo Villalba Perdomo </p>
    </pre>
    </div >
    <div class="container">
        <img class=" img  " src="..\static\images\Escudo_Universidad_de_Cundinamarca.png"> 
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime,
         explicabo eveniet harum sint voluptatem suscipit asperiores porro ratione
          neque dignissimos adipisci, deleniti voluptatibus. Exercitationem reiciendis 
          dolorem dignissimos quis dolor recusandae ipsam, voluptatem enim inventore eos non n
          isi ex similique quam aspernatur temporibus. Eum neque necessitatibus quaerat asperiores
           ea ad!
           Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime,
           explicabo eveniet harum sint voluptatem suscipit asperiores porro ratione
            neque dignissimos adipisci, deleniti voluptatibus. Exercitationem reiciendis 
            dolorem dignissimos quis dolor recusandae ipsam, voluptatem enim inventore eos non n
            isi ex similique quam aspernatur temporibus. Eum neque necessitatibus quaerat asperiores
             ea ad!
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime,
             explicabo eveniet harum sint voluptatem suscipit asperiores porro ratione
              neque dignissimos adipisci, deleniti voluptatibus. Exercitationem reiciendis 
              dolorem dignissimos quis dolor recusandae ipsam, voluptatem enim inventore eos non n
              isi ex similique quam aspernatur temporibus. Eum neque necessitatibus quaerat asperiores
               ea ad!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum maxime,
               explicabo eveniet harum sint voluptatem suscipit asperiores porro ratione
                neque dignissimos adipisci, deleniti voluptatibus. Exercitationem reiciendis 
                dolorem dignissimos quis dolor recusandae ipsam, voluptatem enim inventore eos non n
                isi ex similique quam aspernatur temporibus. Eum neque necessitatibus quaerat asperiores
                 !</p>
  </div>
</div>
  
  <!--Footboard-->
  <div id="pie">
    <div class="item1"> ©2022 Ebisu</div>
    <div class="item2"><img class="icon" src="..\static\images\Jijub.png" alt="Github-icon" width=50px><a href="https://github.com/2012-cevp/Proyecto-de-pre-grado-Udec"
        target="_blank">Github</a>
    </div>
   
    </div>
</div>
    
</body>
</html>