<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    

    <title>EBISU</title>

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <link rel="shortcut icon" href="static\images\imagen.ico">

</head>
<body>


  <!--     EL NAVBAR DE LA PAGINA -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <a class="navbar-brand" href="{{url_for('home')}}">
            <img src="static\images\toro_logo.png" alt="" width="85" height="65">
            EBISU
            
          </a>

          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('bitcoin')}}">
                  <img src="static\images\bitcoin_icon.png" alt="" width="30" height="30">
                  Bitcoin 
                  <span class="sr-only"></span> 
              </a>
              
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{url_for('dolar')}}">
                <img src="static\images\dollar_icon.png" alt="" width="30" height="30">
                Dolar
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{url_for('euro')}}">
                  <img src="static\images\euro_icon.png" alt="" width="30" height="30">
                  Euro
                </a>
              </li>

          </ul>
        </div>
      </nav>


    <!--  El bloque de contenido para heredar en los otros archivos html-->
    {% block content %}


    {% endblock %}


</body>
</html>