<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sobre nosotros</title>
    <link
      rel="icon"
      href="..\static\images\NicePng_toro-logo-png_1774474.png"
    />
    <link rel="stylesheet" href="..\static\css\estilo_aboutus.css" />
  </head>
  <body>
    <div id="pagina">
      <!--Seccion navbar-->

      <div class="dropdown">
        <nav>
          <img
            class="toro"
            src="..\static\images\NicePng_toro-logo-png_1774474.png"
          />
          <a href="{{url_for('home')}}" class="titulo">Ebisu</a>

          <ul>
            <li>
              <a href="#">Sobre</a>
              <ul>
                <li><a href="{{url_for('aboutus')}}">Sobre nosotros</a></li> 
                <li><a href="{{url_for('aboutpro')}}">Sobre el proyecto</a></li>
                <li><a href="{{url_for('contactus')}}">Contáctanos</a></li> 
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!--Seccion Descripcion-->
    <div id="contenido">  
      <div class="caja">
        <div class="texto">
          <p id="titulo">Oscar David Perilla Domingueza</p>
          <p class="texto">
            Estudiante de ingeniería de sistemas de la Universidad de
            Cundinamarca con una gran pasión y gusto por la ciencia de datos,
            con experiencia en aplicación de modelos tradicionales de Machine
            Learning, Deep Learning y conocimientos de modelos de Series
            Temporales. 
            <br/>
            <br/>
            <a class="link" href="https://github.com/ng0-k1" target="_blank"><strong>Github</strong></a>
          </p>
        </div>
        <div class="imagen">
          <img src="..\static\images\Oscar Perilla.jpeg" alt="Foto de Oscar Perilla" />
        </div>
      </div>

      <div class="caja">
        <div class="texto">
          <p id="titulo">Carlos Eduardo Villalba Perdomo</p>
          <p class="texto">
            Estudiante de ingeniería de sistemas de la Universidad de
            Cundinamarca con conocimientos en modelos de Machine Learning,Deep Learning, series temporales
            y desarrollo web. Apasionado siempre por el aprendizaje de nuevas cosas
            relacionadas con la tecnología y el trabajo en equipo
            <br/>
            <br/>
            <a class="link" href="https://github.com/2012-cevp" target="_blank"><strong>Github</strong></a>

          </p>
        </div>
        <div class="imagen">
          <img src="..\static\images\Carlos Villalba.jpg" alt="Foto de Carlos Villalba" />
        </div>
      </div>
    
    </div>
</div>
      <!--Footboard-->
      <div id="pie">
        <div class="item1">©2022 Ebisu</div>
        <div class="item2">
          <img
            class="icon"
            src="..\static\images\Jijub.png"
            alt="Github-icon"
            width="50px"
          /><a
            href="https://github.com/2012-cevp/Proyecto-de-pre-grado-Udec"
            target="_blank">Github</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
