<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sobre nosotros</title>
    <link rel="icon" href="..\static\images\NicePng_toro-logo-png_1774474.png">
    <link rel="stylesheet" href="..\static\css\estilo_contact.css">
</head>
<body>
 <div id="pagina">
    <div class="dropdown">
        <nav>
            <img class="toro" src="..\static\images\NicePng_toro-logo-png_1774474.png"></li>
            <a href="{{url_for('home')}}" class="titulo">Ebisu</a>
            <ul>
                
                <li><a href="#">Sobre</a>
                     <ul>
                        <li><a href="{{url_for('aboutus')}}">Sobre nosotros</a></li> 
                        <li><a href="{{url_for('aboutpro')}}">Sobre el proyecto</a></li>
                        <li><a href="{{url_for('contactus')}}">Contáctanos</a></li> 
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!--Contacto-->
    <div id="contenido">  

        <form action="https://formsubmit.co/caven908@gmail.com" method="POST">
            <div class="nombre">
                <label for="nombre" required>Nombre</label> 
                <br>
                <input type="text" id="nombre" name="nombre"
                        placeholder="Escribe tu Nombre" required="true"/> 
            </div>
               
                <div class="email">
                <label for="email">Email</label> 
                <br>
                <input type="email" id="email" name="email"
                         placeholder="Escribe tu email" required="true"/>
                </div>
                <div class="formulario">
                 <label for="Texto">Comentario</label><br>
                   <textarea name="texto" id="texto" cols="70" rows="20"></textarea>
                </div>  
                <button id="envio"type="submit">Enviar</button>
        </form>

    </div>

      <!--Footboard-->
      <div id="pie">
        <div class="item1"> ©2022 Ebisu</div>
        <div class="item2"><img class="icon" src="..\static\images\Jijub.png" alt="Github-icon" width=50px><a href="https://github.com/2012-cevp/Proyecto-de-pre-grado-Udec"
            target="_blank">Github</a>
        </div>
       
 </div>
</div>
</body>
</html>