<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dólar</title>
    <link rel="icon" href="..\static\images\NicePng_toro-logo-png_1774474.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\estilo_dolar.css">
    

</head>
<body>
    
<div id="pagina">
        <!--Seccion navbar-->
        <div class="dropdown">
            <nav>
                <img class="toro" src="..\static\images\NicePng_toro-logo-png_1774474.png"></li>
                <a href="{{url_for('home')}}" class="titulo">Ebisu</a>
                <ul>
                    
                    <li><a href="#">About</a>
                         <ul>
                            <li><a href="{{url_for('aboutus')}}">Sobre nosotros</a></li> 
                            <li><a href="{{url_for('aboutpro')}}">Sobre el proyecto</a></li>
                            <li><a href="{{url_for('contactus')}}">Contáctanos</a></li> 
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    
    <!-- Cuerpo pagina -->
    <div id="contenido"> 
    <div class="caja2">
        <div class="otrodiv"> 
        <img src="..\static\images\dollar_icon.PNG" alt="imagen del dolar"  width="30" height="30"> <strong>Dolar</strong>
        </div>
        
        <div class="text1-precio">
        <p>Precio del Dolar (USD)</p>
        <p>{{precio}}</p>
        </div>
        <div class="text1-precio">
        <p>Precio estimado del Dolar (USD)</p>
        <p>{{prediccion}}</p>
        </div>
        <div class="text1-precio">
            <p>Precio estimado del Dolar(USD) Siguiente dia</p>
            <p>{{prediccion_sig}}</p>
            </div>
        </div>
        <hr/>
    <div class="caja">
    <div class="grafica">
        <figure>
            <embed type="image/svg+xml" src="{{image_url1}}" />
          </figure>
    </div>
    <div class="twi">
        
        <a class="twitter-timeline" href="https://twitter.com/DolarSETFX?ref_src=twsrc%5Etfw">Tweets by DolarSETFX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    </div>
</div>

     <!--Footboard-->
     <div id="pie">
        <div class="item1"> ©2022 Ebisu</div>
        <div class="item2"><img class="icon" src="..\static\images\Jijub.png" alt="Github-icon" width=50px><a href="https://es.stackoverflow.com/questions/25743/cómo-crear-un-footer-que-se-adapte-en-la-parte-inferior">Github</a>
        </div>
       
    </div>
</div>

</div>
</body>
</html>